In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
train_set = pd.read_csv('../data/subset_train_OHE.csv')
test_set = pd.read_csv('../data/subset_test_OHE.csv')

## Benchmark model

Simply return the last bid-ask price. Basically a straight line after the last quote/trade

In [8]:
prediction = pd.read_csv('../predictions/template_prediction.csv')

In [9]:
for ix, row in prediction.iterrows():
    row_id = row['row_id']
    
    test_row = test_set[test_set['row_id'] == row_id]
    #Get the ask50 and bid50 in the test set
    ask = test_row['ask50'].values[0]
    bid = test_row['bid50'].values[0]
    
    for column in prediction.columns.values:
        if column != 'row_id':
            if column.startswith('ask'):
                prediction.at[ix, column] = ask
            else:
                prediction.at[ix, column] = bid

In [10]:
prediction.head()

,Unnamed: 0,Unnamed: 0.1,row_id,bid52,ask52,bid53,ask53,bid54,ask54,bid55,...,bid96,ask96,bid97,ask97,bid98,ask98,bid99,ask99,bid100,ask100
0,3124,3124.5,559051,3124.5,3125.5,3124.5,3125.5,3124.5,3125.5,3124.5,...,3124.5,3125.5,3124.5,3125.5,3124.5,3125.5,3124.5,3125.5,3124.5,3125.5
1,3129,3129.5,315342,3129.5,3130.5,3129.5,3130.5,3129.5,3130.5,3129.5,...,3129.5,3130.5,3129.5,3130.5,3129.5,3130.5,3129.5,3130.5,3129.5,3130.5
2,434,434.8,503296,434.8,435.0,434.8,435.0,434.8,435.0,434.8,...,434.8,435.0,434.8,435.0,434.8,435.0,434.8,435.0,434.8,435.0
3,3149,3149.0,314897,3149.0,3150.5,3149.0,3150.5,3149.0,3150.5,3149.0,...,3149.0,3150.5,3149.0,3150.5,3149.0,3150.5,3149.0,3150.5,3149.0,3150.5
4,3146,3146.5,560880,3146.5,3147.5,3146.5,3147.5,3146.5,3147.5,3146.5,...,3146.5,3147.5,3146.5,3147.5,3146.5,3147.5,3146.5,3147.5,3146.5,3147.5